ul.horizontal {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(192,192,192);
	position: relative;
}

ul.horizontal li {
	float: left;
}

ul.horizontal li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
	background-color: #000;
}

ul.horizontal li a.active {
	background-color:#4CAF50;
	
}

td, th {
	padding: 5px;
}

th {
	background-color:#4CAF50;
	color: white;
}

tr:nth-child(odd){
	background-color: #eee;
}

div.body-content span {
	padding: 50px;
	font-weight: bold;
}

div.anim {
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	padding:50px;
	border-radius: 10%;
	text-align: center;
}

@keyframes example {
    0%   {background-color:red; left:200px; top:0px;}
    25%  {background-color:yellow; left:300px; top:0px;}
    50%  {background-color:blue; left:300px; top:300px;}
    75%  {background-color:green; left:600px; top:300px;}
    100% {background-color:red; left:200px; top:0px;}
}		